:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "simplificasimplifica";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #1de9b6;
  --secondary-color: #1de9b6;
  --lamp-color: #9bfdd1;
  --background-color: #212121;
  --paper-background-color: rgba(33, 33, 33, 0.8);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "simplificasimplifica";
  src: url("./assets/fonts/Simplifica_font/simplifica_typeface-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/Simplifica_font/simplifica_typeface-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Finland Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  src: local("Finland Regular"),
    url("./assets/fonts/finland-webfont/Finland-Regular.woff") format("woff");
}

@font-face {
  font-family: "Finland Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Finland Italic"),
    url("./assets/fonts/finland-webfont/Finland-Italic.woff") format("woff");
}

@font-face {
  font-family: "Finland Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Finland Thin"),
    url("./assets/fonts/finland-webfont/Finland Thin.woff") format("woff");
}

@font-face {
  font-family: "Finland Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Finland Thin Italic"),
    url("./assets/fonts/finland-webfont/Finland Thin Italic.woff")
      format("woff");
}

@font-face {
  font-family: "Finland Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Finland Bold"),
    url("./assets/fonts/finland-webfont/Finland Bold.woff") format("woff");
}

@font-face {
  font-family: "Finland Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Finland Bold Italic"),
    url("./assets/fonts/finland-webfont/Finland Bold Italic.woff")
      format("woff");
}
